<div *ngIf="starships.length != 0" class="chartWrapper">
    <canvas
      baseChart
      [chartType]="chartType"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [colors]="chartColors"
      [legend]="false"
    ></canvas>
</div>

<div *ngIf="starships.length == 0" class="p-py-4">
    <p-progressSpinner></p-progressSpinner>
</div>