<div class="not-found p-container">
    <div class="not-found-container p-text-center">
        <div class="image-container">
            <img class="not-found-image" src="/assets/images/logo-starwars.png">
        </div>
        <div class="text-container">
            <h1>404 ERROR</h1>
            <p>You underestimate the power of the dark side</p>
            <div><p-button type="button" label="GO BACK" routerLink="/"></p-button></div>
        </div>
    </div>
</div>