.not-found
    width: 100vw
    position: relative
    display: flex
    height: 100vh

    .not-found-container
        margin: auto
        color: rgb(187, 187, 187)

        h1
            font-size: 4em
            margin: 1rem

        p
            font-size: 1.6em
            margin: 1rem

        .not-found-image
            max-height: 180px