<div class="starships p-container">
    <div class="p-grid">
  
      <div class="p-col-12 p-my-2 p-text-center">
        <img class="logo" src="/assets/images/logo1.png"/>
        <h1 class="title">Starships</h1>
      </div>
  
      <div class="p-col-12 p-text-center p-container">
        <p-card>
  
          <div class="p-pb-2">
            <p-dropdown [options]="optionsStarshipAtributes" [(ngModel)]="selectedStarshipAtribute" (onChange)="changeStarshipAtributeDropdown($event.value)" placeholder="Select Atribute"></p-dropdown>
          </div>
  
          <p-scrollPanel styleClass="chartScrollPanel" >
              <app-chart-starships-atribute
                [starships]="starships"
                [starshipAtribute]="selectedStarshipAtribute"
              ></app-chart-starships-atribute>
          </p-scrollPanel>

        </p-card>
      </div>
      
    </div>
</div>