.starships
    .title
        color: #ecc721
        margin: 0
        font-size: 1.4em

    .logo
        width: auto
        height: 60px

    .p-card 
        background: rgba(30, 30, 30, 0.7)

        .p-card-content
                padding: 0

                .chartScrollPanel
                    width: 100%
                    height: 60vh   

                    .chartWrapper
                        min-width: 800px
                        width: 100%
                        height: 100%