/* You can add global styles to this file, and also import other style files */

body
    margin: 0
    background-image: url(assets/images/background-stars.jpeg)
    background-color: black

.p-container
    max-width: 1600px
    margin: auto
    padding: 0.6rem